html { /*setting font elements for entire html file*/
    font-size : 10px; /* makes it so that baseefont is 10px */
    font-family: "Prata", sans-serif;

} 


/* specifying this for header1, list, and paragraph */

h1 {
    font-size: 60px;
    text-align: center;
  }

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

html {/*changing page color*/
    background-color: #a4cdee;
}

body {
    width: 600px;
    margin: 0 auto;
    color : #8b80dc;
    padding: 0 20px 20px 20px;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #8b80dc;
  }
  

img {
    display: block;
    margin: 0 auto;
}